<?xml version='1.0' encoding='utf-8'?>
<widget id="com.toopfood.apptoopfood" version="1.5.5" versionCode="1.5.5" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Karenderia App Version 2</name>
    <description>
        Karenderia App Version 2
    </description>
    <author email="bastikikang@gmail.com" href="http://cordova.io">
        bastisapp.com
    </author>
    <content src="index.html" />
    <preference name="orientation" value="portrait" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="fullscreen" value="false" />
    <preference name="AndroidXEnabled" value="true" />
    <preference name="android-minSdkVersion" value="22" />
    <preference name="android-targetSdkVersion" value="29" />
    <preference name="KeepRunning" value="true" />

    <preference name="android-build-tool" value="gradle" />
    <preference name="phonegap-version" value="cli-9.0.0" />
    <preference name="ANDROID_FIREBASE_ANALYTICS_VERSION" default="17.0.0" />
    <preference name="AndroidXEnabled" value="true" />

    <plugin name="cordova-plugin-firebasex" spec="latest">
        <variable name="ANDROID_FIREBASE_ANALYTICS_VERSION" value="17.0.0" />
        <variable name="ANDROID_FIREBASE_CONFIG_FILEPATH" value="resources/android/google-services.json" />
    </plugin>

<!--    <gap:plugin name="cordova-plugin-firebasex" source="npm">-->
<!--        <variable name="ANDROID_FIREBASE_CONFIG_FILEPATH" value="resources/android/google-services.json" />-->
<!--        <variable name="IOS_FIREBASE_CONFIG_FILEPATH" value="resources/ios/GoogleService-Info.plist" />-->
<!--    </gap:plugin>-->

    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <gap:plugin name="cordova-plugin-device" source="npm" />
    <gap:plugin name="cordova-plugin-inappbrowser" source="npm" />
    <gap:plugin name="cordova-plugin-splashscreen" source="npm" />
    <gap:plugin name="cordova-plugin-geolocation" source="npm" />
    <gap:plugin name="cordova-plugin-network-information" source="npm" />
    <gap:plugin name="phonegap-plugin-push" source="npm" spec="2.1.2" />
    <gap:plugin source="git" spec="https://github.com/bastikikang/cordova-plugin-request-location-accuracy">
        <variable name="PLAY_SERVICES_VERSION" value="11.0.1" />
    </gap:plugin>
    <gap:plugin name="cordova-plugin-x-toast" source="npm" spec="2.7.0" />
    <gap:plugin name="cordova-plugin-media" source="npm" spec="5.0.2" />
    <gap:plugin name="cordova.plugins.diagnostic" source="npm" spec="4.0.0" />
    <gap:plugin name="cordova-plugin-buildinfo" source="npm" spec="2.0.1" />
    <gap:plugin name="cordova-plugin-camera" source="npm" spec="2.4.1" />
    <gap:plugin name="cordova-plugin-file-transfer" source="npm" spec="1.7.1" />
    <gap:plugin name="cordova-plugin-googleplus" source="npm" spec="7.0.2">
        <variable name="REVERSED_CLIENT_ID" value="" />
        <variable name="PLAY_SERVICES_VERSION" value="11.0.1" />
    </gap:plugin>
    <plugin name="uk.co.workingedge.phonegap.plugin.launchnavigator" source="npm" spec="5.0.4">
        <variable name="GOOGLE_API_KEY_FOR_ANDROID" value="" />
    </plugin>
    <plugin name="com.cmackay.plugins.googleanalytics" source="npm" spec="1.0.4">
        <variable name="ANALYTICS_VERSION" value="11.0.1" />
    </plugin>
    <gap:plugin name="com-sarriaroman-photoviewer" source="npm" />
    <gap:plugin name="cordova-plugin-x-socialsharing" source="npm" spec="5.4.6">
        <variable name="PHOTO_LIBRARY_USAGE_DESCRIPTION" value="Karenderia will use your photo library" />
        <variable name="PHOTO_LIBRARY_ADD_USAGE_DESCRIPTION" value="Karenderia saves images of your photo library" />
    </gap:plugin>
    <gap:plugin name="cordova-plugin-statusbar" source="npm" />


    <allow-navigation href="*" />
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
    <gap:config-file parent="/manifest" platform="android">
        <supports-screens android:largeScreens="true" android:smallScreens="true" android:xlargeScreens="true" />
        <application android:theme="@android:style/Theme.NoTitleBar">
        </application>
    </gap:config-file>
    <platform name="android">
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        <config-file parent="/*/application" target="AndroidManifest.xml">
            <uses-library android:name="org.apache.http.legacy" android:required="true" />
        </config-file>
        <resource-file src="www/beep.wav" target="app/src/main/res/raw/beep.wav" />
        <resource-file src="google-services.json" target="google-services.json" />
        <resource-file src="google-services.json" target="app/google-services.json" />
        <icon density="ldpi" src="resources/android/icon/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="resources/android/icon/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="resources/android/icon/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="resources/android/icon/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="resources/android/icon/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="resources/android/icon/drawable-xxxhdpi-icon.png" />
        <splash density="land-ldpi" src="resources/android/splash/drawable-land-ldpi-screen.png" />
        <splash density="land-mdpi" src="resources/android/splash/drawable-land-mdpi-screen.png" />
        <splash density="land-hdpi" src="resources/android/splash/drawable-land-hdpi-screen.png" />
        <splash density="land-xhdpi" src="resources/android/splash/drawable-land-xhdpi-screen.png" />
        <splash density="land-xxhdpi" src="resources/android/splash/drawable-land-xxhdpi-screen.png" />
        <splash density="land-xxxhdpi" src="resources/android/splash/drawable-land-xxxhdpi-screen.png" />
        <splash density="port-ldpi" src="resources/android/splash/drawable-port-ldpi-screen.png" />
        <splash density="port-mdpi" src="resources/android/splash/drawable-port-mdpi-screen.png" />
        <splash density="port-hdpi" src="resources/android/splash/drawable-port-hdpi-screen.png" />
        <splash density="port-xhdpi" src="resources/android/splash/drawable-port-xhdpi-screen.png" />
        <splash density="port-xxhdpi" src="resources/android/splash/drawable-port-xxhdpi-screen.png" />
        <splash density="port-xxxhdpi" src="resources/android/splash/drawable-port-xxxhdpi-screen.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="tel:*" />
        <allow-navigation href="tel:*" />
        <resource-file src="www/beep.wav" />
        <preference name="WKWebViewOnly" value="true" />
        <feature name="CDVWKWebViewEngine">
            <param name="ios-package" value="CDVWKWebViewEngine" />
        </feature>
        <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
        <preference name="scheme" value="monaca-app" />
        <preference name="hostname" value="localhost" />

        <config-file parent="NSLocationAlwaysUsageDescription" platform="ios" target="*-Info.plist">
            <string>This allows us to use your location to provide you a nearby restaurant, and to facilitate more accurately, keeping you in the loop about Karenderia.</string>
        </config-file>
        <config-file parent="NSLocationWhenInUseUsageDescription" platform="ios" target="*-Info.plist">
            <string>This allows us to use your location to provide you a nearby restaurant, and to facilitate more accurately, keeping you in the loop about Karenderia.</string>
        </config-file>
        <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
            <string>Enable Karenderia to access your camera to take photos of you and to save as profile picture.</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryUsageDescription">
            <string>Enable Karenderia to access your photo library to get pictures from there.</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSLocationWhenInUseUsageDescription">
            <string>This allows us to use your location to find restaurant nearby.</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSLocationAlwaysAndWhenInUseUsageDescription">
            <string>This allows us to use your location to provide you a nearby restaurant, and to facilitate more accurately, keeping you in the loop about Karenderia.</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSLocationAlwaysUsageDescription">
            <string>This allows us to use your location to find restaurant nearby.</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryAddUsageDescription">
            <string>Enable Karenderia to access your photo library to save pictures there.</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSMicrophoneUsageDescription">
            <string>need microphone access to record sounds</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSBluetoothAlwaysUsageDescription">
            <string>Improve location accuracy when finding nearby restaurant</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSBluetoothPeripheralUsageDescription">
            <string>Improve location accuracy when finding nearby restaurant</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSContactsUsageDescription">
            <string>Need access to your contacts</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSCalendarsUsageDescription">
            <string>Need acces to calendar</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSMotionUsageDescription">
            <string>Improve location accuracy when finding nearby restaurant</string>
        </edit-config>
        <icon height="144" src="resources/ios/icon/icon-72@2x.png" width="144" />
        <icon height="57" src="resources/ios/icon/icon.png" width="57" />
        <icon height="20" src="resources/ios/icon/icon-20.png" width="20" />
        <icon height="40" src="resources/ios/icon/icon-20@2x.png" width="40" />
        <icon height="60" src="resources/ios/icon/icon-20@3x.png" width="60" />
        <icon height="29" src="resources/ios/icon/icon-29.png" width="29" />
        <icon height="58" src="resources/ios/icon/icon-29@2x.png" width="58" />
        <icon height="87" src="resources/ios/icon/icon-29@3x.png" width="87" />
        <icon height="48" src="resources/ios/icon/icon-24@2x.png" width="48" />
        <icon height="55" src="resources/ios/icon/icon-27.5@2x.png" width="55" />
        <icon height="88" src="resources/ios/icon/icon-44@2x.png" width="88" />
        <icon height="172" src="resources/ios/icon/icon-86@2x.png" width="172" />
        <icon height="196" src="resources/ios/icon/icon-98@2x.png" width="196" />
        <icon height="216" src="resources/ios/icon/icon-108@2x.png" width="216" />
        <icon height="40" src="resources/ios/icon/icon-40.png" width="40" />
        <icon height="80" src="resources/ios/icon/icon-40@2x.png" width="80" />
        <icon height="120" src="resources/ios/icon/icon-40@3x.png" width="120" />
        <icon height="50" src="resources/ios/icon/icon-50.png" width="50" />
        <icon height="100" src="resources/ios/icon/icon-50@2x.png" width="100" />
        <icon height="60" src="resources/ios/icon/icon-60.png" width="60" />
        <icon height="120" src="resources/ios/icon/icon-60@2x.png" width="120" />
        <icon height="180" src="resources/ios/icon/icon-60@3x.png" width="180" />
        <icon height="72" src="resources/ios/icon/icon-72.png" width="72" />
        <icon height="114" src="resources/ios/icon/icon@2x.png" width="114" />
        <icon height="76" src="resources/ios/icon/icon-76.png" width="76" />
        <icon height="152" src="resources/ios/icon/icon-76@2x.png" width="152" />
        <icon height="167" src="resources/ios/icon/icon-83.5@2x.png" width="167" />
        <icon height="1024" src="resources/ios/icon/icon-1024.png" width="1024" />
        <splash height="1242" src="resources/ios/splash/Default-Landscape-736h.png" width="2208" />
        <splash height="1136" src="resources/ios/splash/Default-568h@2x~iphone.png" width="640" />
        <splash height="2688" src="resources/ios/splash/Default-2688h~iphone.png" width="1242" />
        <splash height="1242" src="resources/ios/splash/Default-Landscape-2688h~iphone.png" width="2688" />
        <splash height="1792" src="resources/ios/splash/Default-1792h~iphone.png" width="828" />
        <splash height="828" src="resources/ios/splash/Default-Landscape-1792h~iphone.png" width="1792" />
        <splash height="2436" src="resources/ios/splash/Default-2436h.png" width="1125" />
        <splash height="1125" src="resources/ios/splash/Default-Landscape-2436h.png" width="2436" />
        <splash height="2208" src="resources/ios/splash/Default-736h.png" width="1242" />
        <splash height="1334" src="resources/ios/splash/Default-667h.png" width="750" />
        <splash height="1536" src="resources/ios/splash/Default-Landscape@2x~ipad.png" width="2048" />
        <splash height="2048" src="resources/ios/splash/Default-Landscape@~ipadpro.png" width="2732" />
        <splash height="768" src="resources/ios/splash/Default-Landscape~ipad.png" width="1024" />
        <splash height="2048" src="resources/ios/splash/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="2732" src="resources/ios/splash/Default-Portrait@~ipadpro.png" width="2048" />
        <splash height="1024" src="resources/ios/splash/Default-Portrait~ipad.png" width="768" />
        <splash height="960" src="resources/ios/splash/Default@2x~iphone.png" width="640" />
        <splash height="480" src="resources/ios/splash/Default~iphone.png" width="320" />
        <splash height="2732" src="resources/ios/splash/Default@2x~universal~anyany.png" width="2732" />
    </platform>
    <preference name="WindowsStorePublisherName" value="My Name" />
    <preference name="WindowsStoreIdentityName" value="784321d4-bab8-3957-d0a2-426559520ecc" />
    <preference name="ios-XCBuildConfiguration-TARGETED_DEVICE_FAMILY" value="1" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="FadeSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <access origin="*" />
    <access launch-external="yes" origin="tel:*" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="EnableViewportScale" value="false" />
</widget>
